@using MedicalAppointmentApp.Models.ViewModels
@model CreateInstitutionDoctorViewModel
@{
    ViewData["Title"] = "Add Institution";
}

<style>
h1 {
  text-align: center;
}
</style>

<h1>Create schedule</h1>
<h5>Selected Doctor Id: @Model.DoctorId</h5>

<form asp-action="AddInstitutionToDoctor" method="post">
    <div class="form-group" style="display: none;">
        <label asp-for="DoctorId">Doctor Id</label>
        <input asp-for="DoctorId" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="StartDate">Schedule start date</label>
        <input type="date" asp-for="StartDate" class="form-control" value="@DateTime.Now.ToString("d")" />
    </div>
    <div class="form-group">
        <label asp-for="EndDate">Schedule end date</label>
        <input type="date" asp-for="EndDate" class="form-control" value="@DateTime.Now.AddDays(7).ToString("d")"/>
    </div>
    <div class="form-group">
        <label asp-for="InstitutionId">Institution Id</label>
        <input asp-for="InstitutionId" class="form-control" />
    </div>
    <div class="container">
        <div class="row">
            @{ int i = 0; }
            @foreach (var scheduleDetail in Model.scheduleDetails)
            {
                <div class="col-sm">
                    <h4>@scheduleDetail.Day</h4>
                    <div hidden>
                        <label asp-for="scheduleDetails[i].Day"></label>
                        <input type="text" asp-for="scheduleDetails[i].Day" />
                    </div>
                    <div class="time">
                        <label asp-for="scheduleDetails[i].isWorking">Is working?</label>
                        <input type="checkbox" asp-for="scheduleDetails[i].isWorking" />
                    </div>
                    <div class="time">
                        <label asp-for="scheduleDetails[i].StartDateTime">Start Time</label>
                        <input type="time" asp-for="scheduleDetails[i].StartDateTime" value="09:00" />
                    </div>
                    <div class="time">
                        <label asp-for="scheduleDetails[i].EndDateTime">End Time</label>
                        <input type="time" asp-for="scheduleDetails[i].EndDateTime" value="17:00" />
                    </div>
                </div>
                i++;
            }
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="table-responsive">
                    <table class="table no-wrap user-table mb-0">
                        <thead>
                            <tr>
                                <th scope="col" class="border-0 text-uppercase font-medium">Id</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">Name</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">Address</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">Doctors</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var institution in Model.Institutions)
                            {
                                <tr>
                                    <td>
                                        <span class="font-medium mb-0">@institution.InstitutionId</span><br>
                                    </td>
                                    <td>
                                        <span class="font-medium mb-0">@institution.Name</span><br>
                                    </td>
                                    <td>
                                        <span class="font-medium mb-0">@institution.Address</span><br>
                                    </td>
                                    <td>
                                        @foreach (var schedule in institution.Schedules)
                                        {
                                            <span class="font-medium mb-0">@schedule.Doctor.FirstName @schedule.Doctor.LastName</span><br>
                                        }
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>