@model List<GetAppointmentModel>
@{
    ViewData["Title"] = "Appointment List";
    CustomResponse statusMsg = ViewBag.CustomResponse;
    int appointmentCount = (int)ViewBag.AppointmentCount;
}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<h1>My appointments</h1>

@if (statusMsg != null)
{
    <partial name="_StatusMessage" for="@statusMsg" />
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="table-responsive">
                    <table class="table no-wrap user-table mb-0">
                        <thead>
                            <tr>
                                <th scope="col" class="border-0 text-uppercase font-medium" style="text-align: center; vertical-align: middle;">Date</th>
                                <th scope="col" class="border-0 text-uppercase font-medium" style="text-align: center; vertical-align: middle;">Doctor</th>
                                <th scope="col" class="border-0 text-uppercase font-medium" style="text-align: center; vertical-align: middle;">Address</th>
                                <th scope="col" class="border-0 text-uppercase font-medium" style="text-align: center; vertical-align: middle;">Detail</th>
                                <th scope="col" class="border-0 text-uppercase font-medium" style="text-align: center; vertical-align: middle;">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var appointment in Model)
                            {
                                <tr>
                                    <td style="text-align: center; vertical-align: middle;">
                                        <span class="font-medium mb-0">@appointment.StartDateTime</span><br>
                                    </td>
                                    <td style="text-align: center; vertical-align: middle;">
                                        <span class="font-medium mb-0">@appointment.Doctor.FirstName @appointment.Doctor.LastName</span><br>
                                    </td>
                                    <td style="text-align: center; vertical-align: middle;">
                                        <span class="font-medium mb-0">@appointment.Address</span><br>
                                    </td>
                                    <td style="text-align: center; vertical-align: middle;">
                                        <span class="font-medium mb-0">@appointment.Detail</span><br>
                                    </td>
                                    <td style="text-align: center; vertical-align: middle;">
                                        <form asp-action="UserDeleteAppointment" asp-route-id="@appointment.AppointmentId" method="post">
                                            <button type="submit" class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i class="fa fa-trash"></i> </button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    var prevDisabled = ViewBag.PageNumber == 1 ? "disabled" : "";
    var nextDisabled = true;

    if (appointmentCount != 0)
    {
        nextDisabled = Math.Ceiling((double)appointmentCount / (double)(ViewBag.PageSize ?? 10)) == (ViewBag.PageNumber ?? 1);
    }
}

<a asp-action="GetAppointmentsByUserId"
   asp-route-pageNumber="@(ViewBag.PageNumber - 1)"
   asp-route-userId="@ViewBag.CurrentFilter"
   asp-route-pageSize="@ViewBag.PageSize"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="GetAppointmentsByUserId"
   asp-route-pageNumber="@(ViewBag.PageNumber + 1)"
   asp-route-userId="@ViewBag.CurrentFilter"
   asp-route-pageSize="@ViewBag.PageSize"
   class="btn btn-default @(nextDisabled ? "disabled" : "")">
    Next
</a>

<div>
    Number per page:
    <a asp-action="GetAppointmentsByUserId" asp-route-pageSize="10" asp-route-userId="@ViewBag.CurrentFilter" method="get">10</a>
    <a asp-action="GetAppointmentsByUserId" asp-route-pageSize="20" asp-route-userId="@ViewBag.CurrentFilter" method="get">20</a>
    <a asp-action="GetAppointmentsByUserId" asp-route-pageSize="50" asp-route-userId="@ViewBag.CurrentFilter" method="get">50</a>
    <a asp-action="GetAppointmentsByUserId" asp-route-pageSize="100" asp-route-userId="@ViewBag.CurrentFilter" method="get">100</a>
</div>