@using MedicalAppointmentApp.Models
@model List<UserRolesViewModel>
@{
    ViewData["Title"] = "RegisteredUsers";
}

<h1>Registered users</h1>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div class="container">
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#userlist">Manage Users</button>
    <div id="userlist" class="collapse">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">                       
                        <div class="table-responsive">
                            <table class="table no-wrap user-table mb-0">
                                <thead>
                                    <tr>
                                        <th scope="col" class="border-0 text-uppercase font-medium">Email</th>
                                        <th scope="col" class="border-0 text-uppercase font-medium">First Name</th>
                                        <th scope="col" class="border-0 text-uppercase font-medium">Last Name</th>
                                        <th scope="col" class="border-0 text-uppercase font-medium">Phone Number</th>
                                        <th scope="col" class="border-0 text-uppercase font-medium">Roles</th>
                                        <th scope="col" class="border-0 text-uppercase font-medium">Delete</th>
                                        <th scope="col" class="border-0 text-uppercase font-medium">Edit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var user in ViewBag.Users)
                                    {
                                        <tr>
                                            <td>
                                                <span class="font-medium mb-0">@user.Email</span><br>
                                            </td>
                                            <td>
                                                <span class="font-medium mb-0">@user.FirstName</span><br>
                                            </td>
                                            <td>
                                                <span class="font-medium mb-0">@user.LastName</span><br>
                                            </td>
                                            <td>
                                                <span class="font-medium mb-0">@user.PhoneNumber</span><br>
                                            </td>
                                            <td>
                                                @foreach (var role in user.Roles)
                                                {
                                                    <div>@role</div>
                                                }
                                            </td>
                                            @if (!user.Roles.Contains("Admin"))
                                            {
                                                <td>
                                                    <form asp-action="DeleteUser" asp-route-id="@user.UserId" method="post">
                                                        <button type="submit" class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i class="fa fa-trash"></i> </button>
                                                    </form>
                                                </td>
                                                <td>
                                                    <form asp-action="GetUpdateUserView" asp-route-id="@user.UserId">
                                                        <button type="submit" class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i class="fa fa-edit"></i> </button>
                                                    </form>
                                                </td>
                                            }

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#doctors">Manage Doctors</button>
    <input type="button" class="btn btn-info" value="Create Doctor" onclick="location.href='@Url.Action("CreateDoctor", "Doctor")'" />
    <div id="doctors" class="collapse">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="table-responsive">
                            <table class="table no-wrap user-table mb-0">
                                <thead>
                                    <tr>
                                        <th scope="col" class="border-0 text-uppercase font-medium">First Name</th>
                                        <th scope="col" class="border-0 text-uppercase font-medium">Last Name</th>
                                        <th scope="col" class="border-0 text-uppercase font-medium">Phone Number</th>
                                        <th scope="col" class="border-0 text-uppercase font-medium">MedicalSpeciality</th>
                                        <th scope="col" class="border-0 text-uppercase font-medium">Institutions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var doctor in ViewBag.Doctors)
                                    {
                                        <tr>
                                            <td>
                                                <span class="font-medium mb-0">@doctor.FirstName</span><br>
                                            </td>
                                            <td>
                                                <span class="font-medium mb-0">@doctor.LastName</span><br>
                                            </td>
                                            <td>
                                                <span class="font-medium mb-0">@doctor.PhoneNumber</span><br>
                                            </td>
                                            <td>
                                                <span class="font-medium mb-0">@doctor.MedicalSpeciality.Name</span><br>
                                            </td>
                                            <td>
                                                @foreach (var institution in doctor.Institutions)
                                                {
                                                    <span class="font-medium mb-0">@institution.Name</span><br>
                                                }
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#Institutions">Manage Institutions</button>
    <input type="button" class="btn btn-info" value="Create Institution" onclick="location.href='@Url.Action("CreateInstitution", "Institution")'" />
    <div id="Institutions" class="collapse">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="table-responsive">
                            <table class="table no-wrap user-table mb-0">
                                <thead>
                                    <tr>
                                        <th scope="col" class="border-0 text-uppercase font-medium">Name</th>
                                        <th scope="col" class="border-0 text-uppercase font-medium">Address</th>
                                        <th scope="col" class="border-0 text-uppercase font-medium">Doctors</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var institution in ViewBag.Institutions)
                                    {
                                        <tr>
                                            <td>
                                                <span class="font-medium mb-0">@institution.Name</span><br>
                                            </td>
                                            <td>
                                                <span class="font-medium mb-0">@institution.Address</span><br>
                                            </td>
                                            <td>
                                                @foreach (var doctor in institution.Doctors)
                                                {
                                                <span class="font-medium mb-0">@doctor.FirstName @doctor.LastName</span><br>
                                                }
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#specialties">Manage Medical specialties</button>
    <input type="button" class="btn btn-info" value="Create Medical Speciality" onclick="location.href='@Url.Action("CreateMedicalSpeciality", "Speciality")'" />
    <div id="specialties" class="collapse">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="table-responsive">
                            <table class="table no-wrap user-table mb-0">
                                <thead>
                                    <tr>
                                        <th scope="col" class="border-0 text-uppercase font-medium">Name</th>
                                        <th scope="col" class="border-0 text-uppercase font-medium">Description</th>
                                        <th scope="col" class="border-0 text-uppercase font-medium">Doctors</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var specialty in ViewBag.Specialties)
                                    {
                                        <tr>
                                            <td>
                                                <span class="font-medium mb-0">@specialty.Name</span><br>
                                            </td>
                                            <td>
                                                <span class="font-medium mb-0">@specialty.Description</span><br>
                                            </td>
                                            <td>
                                                @foreach (var doctor in specialty.Doctors)
                                                {
                                                    <span class="font-medium mb-0">@doctor.FirstName @doctor.LastName</span><br>
                                                }
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


