@using MedicalAppointmentApp.Models
@model List<GetInstitutionModel>
@{
    ViewData["Title"] = "Institutions";
    CustomResponse statusMsg = ViewBag.CustomResponse;
}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<h1>Institutions</h1>

@if (statusMsg != null)
{
    <partial name="_StatusMessage" for="@statusMsg" />
}

<input type="button" class="btn btn-info" value="Create Institution" onclick="location.href='@Url.Action("CreateInstitution", "Institution")'" />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="table-responsive">
                    <table class="table no-wrap user-table mb-0">
                        <thead>
                            <tr>
                                <th scope="col" class="border-0 text-uppercase font-medium">Name</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">Address</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">Doctors</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">Delete Institution</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var institution in Model)
                            {
                                <tr>
                                    <td>
                                        <span class="font-medium mb-0">@institution.Name</span><br>
                                    </td>
                                    <td>
                                        <span class="font-medium mb-0">@institution.Address</span><br>
                                    </td>
                                    <td>
                                        @{
                                            int doctorCount = 0;
                                        }
                                        @foreach (var schedule in institution.Schedules)
                                        {
                                            <span class="font-medium mb-0">@schedule.Doctor.FirstName @schedule.Doctor.LastName</span><br>
                                            doctorCount++;
                                            if (doctorCount >= 10) break;
                                        }
                                    </td>
                                     <td style="text-align: center; vertical-align: middle;">
                                        <form asp-controller="Institution" asp-action="DeleteInstitution" asp-route-id="@institution.InstitutionId" method="post">
                                            <button type="submit" class="btn btn-outline-info btn-circle btn-sm btn-circle ml-2"><i class="fa fa-trash fa-3x"></i> </button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    var prevDisabled = ViewBag.PageNumber == 1 ? "disabled" : "";
    var nextDisabled = ViewBag.HasNextPage ? "disabled" : "";
}

<a asp-action="InstitutionList"
   asp-route-pageNumber="@(ViewBag.PageNumber - 1)"
   asp-route-pageSize="@ViewBag.PageSize"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="InstitutionList"
   asp-route-pageNumber="@(ViewBag.PageNumber + 1)"
   asp-route-pageSize="@ViewBag.PageSize"
   class="btn btn-default @nextDisabled">
    Next
</a>

<div>
    Number per page:
    <a asp-action="InstitutionList" asp-route-pageSize="10" method="get">10</a>
    <a asp-action="InstitutionList" asp-route-pageSize="20" method="get">20</a>
    <a asp-action="InstitutionList" asp-route-pageSize="50" method="get">50</a>
    <a asp-action="InstitutionList" asp-route-pageSize="100" method="get">100</a>
</div>