@using MiddleProject.Models
@model List<GetMedicalSpecialtyModel>
@{
    ViewData["Title"] = "Spelialities";
    CustomResponse statusMsg = ViewBag.CustomResponse;
}

<h1>Medical specialities</h1>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

@if (statusMsg != null)
{
    <partial name="_StatusMessage" for="@statusMsg" />
}
<div style="width:100%;height:10px;" ></div> 
<input type="button" class="btn btn-info" value="Create Medical Speciality" onclick="location.href='@Url.Action("CreateMedicalSpeciality", "Speciality")'" />
<div style="width:100%;height:20px;" ></div> 

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="table-responsive">
                    <table class="table no-wrap user-table mb-0">
                        <thead>
                            <tr>
                                <th scope="col" class="border-0 text-uppercase font-medium" style="text-align: center; vertical-align: middle;">Name</th>
                                <th scope="col" class="border-0 text-uppercase font-medium" style="text-align: center; vertical-align: middle;">Description</th>
                                <th scope="col" class="border-0 text-uppercase font-medium" style="text-align: center; vertical-align: middle;">Delete Speciality</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var specialty in Model)
                            {
                                <tr>
                                    <td style="text-align: center; vertical-align: middle;">
                                        <span class="font-medium mb-0">@specialty.Name</span><br>
                                    </td>
                                    <td style="text-align: center; vertical-align: middle;">
                                        <span class="font-medium mb-0">@specialty.Description</span><br>
                                    </td>
                                     <td style="text-align: center; vertical-align: middle;">
                                        <form asp-controller="Speciality" asp-action="DeleteSpeciality" asp-route-id="@specialty.MedicalSpecialityId" method="post">
                                            <button type="submit" class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i class="fa fa-trash"></i> </button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    var prevDisabled = ViewBag.PageNumber == 1 ? "disabled" : "";
    var nextDisabled = ViewBag.HasNextPage ? "disabled" : "";
}

<a asp-action="SpecialityList"
   asp-route-pageNumber="@(ViewBag.PageNumber - 1)"
   asp-route-pageSize="@ViewBag.PageSize"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="SpecialityList"
   asp-route-pageNumber="@(ViewBag.PageNumber + 1)"
   asp-route-pageSize="@ViewBag.PageSize"
   class="btn btn-default @nextDisabled">
    Next
</a>

<div>
    Number per page:
    <a asp-action="SpecialityList" asp-route-pageSize="10" method="get">10</a>
    <a asp-action="SpecialityList" asp-route-pageSize="20" method="get">20</a>
    <a asp-action="SpecialityList" asp-route-pageSize="50" method="get">50</a>
    <a asp-action="SpecialityList" asp-route-pageSize="100" method="get">100</a>
</div>