@model List<GetDoctorModel>
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-5">Sign up for a visit</h1>
    <!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
</div>



<form asp-controller="Home" asp-action="Index" method="get">

    <div class="input-group">
        <input type="search" class="form-control rounded" placeholder="Doctor, institution, speciality" aria-label="Search" aria-describedby="search-addon" name="SearchString" />
        <button type="button" class="btn btn-outline-primary">search</button>
    </div>
</form>
@if (Model.Count > 0)
{
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="table-responsive">
                        <table class="table no-wrap user-table mb-0">
                            <thead>
                                <tr>
                                    <th scope="col" class="border-0 text-uppercase font-medium">First Name</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">Last Name</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">Phone Number</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">MedicalSpeciality</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">Institutions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var doctor in Model)
                                {
                                    <tr>
                                        <td>
                                            <span class="font-medium mb-0">@doctor.FirstName</span><br>
                                        </td>
                                        <td>
                                            <span class="font-medium mb-0">@doctor.LastName</span><br>
                                        </td>
                                        <td>
                                            <span class="font-medium mb-0">@doctor.PhoneNumber</span><br>
                                        </td>
                                        <td>
                                            <span class="font-medium mb-0">@doctor.MedicalSpeciality.Name</span><br>
                                        </td>
                                        <td>
                                            @foreach (var institution in doctor.Institutions)
                                            {
                                                <span class="font-medium mb-0">@institution.Name</span><br>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
