@model List<GetDoctorsWithNextAppointments>
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1>Search for doctor</h1>
</div>
<div style="width:100%;height:10px;" ></div> 

<form asp-controller="Home" asp-action="SearchView" asp-route-pageSize="@ViewBag.PageSize" method="get">
    <div class="input-group">
        <input type="search" class="form-control rounded" placeholder="Doctor, institution, speciality" aria-label="Search" aria-describedby="search-addon" name="q" value="@ViewBag.CurrentFilter"/>
        <button type="submit" class="btn btn-outline-primary">
            <i class="fas fa-search text-grey"
               aria-hidden="true"></i>
        </button>
    </div>
</form>

<div style="width:100%;height:20px;" ></div> 

@if (Model.Count > 0)
{
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="table-responsive">
                        <table class="table no-wrap user-table mb-0">
                            <thead>
                                <tr>
                                    <th scope="col" class="border-0 text-uppercase font-medium" style="text-align: center; vertical-align: middle;">Name</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium" style="text-align: center; vertical-align: middle;">Phone Number</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium" style="text-align: center; vertical-align: middle;">Medical Speciality</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium" style="text-align: center; vertical-align: middle;">Institutions</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium" style="text-align: center; vertical-align: middle;">Available appointments</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium" style="text-align: center; vertical-align: middle;">More info</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var doctor in Model)
                                {
                                    <tr>
                                        <td style="text-align: center; vertical-align: middle;">
                                            <span class="font-medium mb-0">@doctor.Doctor.FirstName @doctor.Doctor.LastName</span><br>
                                        </td>
                                        <td style="text-align: center; vertical-align: middle;">
                                            <span class="font-medium mb-0">@doctor.Doctor.PhoneNumber</span><br>
                                        </td>
                                        <td style="text-align: center; vertical-align: middle;">
                                            <span class="font-medium mb-0">@doctor.Doctor.MedicalSpeciality.Name</span><br>
                                        </td>
                                        <td style="text-align: center; vertical-align: middle;">
                                            @foreach (var schedule in doctor.Doctor.Schedules)
                                            {
                                                <span class="font-medium mb-0">@schedule.Institution.Name</span><br>
                                            }
                                        </td>
                                        <td style="text-align: center; vertical-align: middle;">
                                            @if (doctor.NextFreeAppointmentDates.Count() != 0)
                                            {
                                                foreach (var date in doctor.NextFreeAppointmentDates)
                                                {
                                                    var dateNotNull = date ?? DateTime.Now;
                                                    <span class="font-medium mb-0">@dateNotNull.ToString("g", new CultureInfo("lt-LT"))</span><br>
                                                }
                                            }
                                            else
                                            {
                                                <span class="font-medium mb-0">No available dates</span><br>
                                            }
                                        </td>
                                        <td style="text-align: center; vertical-align: middle;">
                                            <a class="btn btn-outline-primary" asp-controller="Doctor" asp-action="Doctor" asp-route-id="@doctor.Doctor.DoctorId">Info</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@{
    var prevDisabled = ViewBag.PageNumber == 1 ? "disabled" : "";
    var nextDisabled = ViewBag.HasNextPage ? "disabled" : "";
}

<a asp-action="SearchView"
   asp-route-pageNumber="@(ViewBag.PageNumber - 1)"
   asp-route-currentFilter="@ViewBag.CurrentFilter"
   asp-route-pageSize="@ViewBag.PageSize"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="SearchView"
   asp-route-pageNumber="@(ViewBag.PageNumber + 1)"
   asp-route-currentFilter="@ViewBag.CurrentFilter"
   asp-route-pageSize="@ViewBag.PageSize"
   class="btn btn-default @nextDisabled">
    Next
</a>

<div>
    Number per page:
    <a asp-controller="Home" asp-action="SearchView" asp-route-pageSize="10" asp-route-currentFilter="@ViewBag.CurrentFilter" method="get">10</a>
    <a asp-controller="Home" asp-action="SearchView" asp-route-pageSize="20" asp-route-currentFilter="@ViewBag.CurrentFilter" method="get">20</a>
    <a asp-controller="Home" asp-action="SearchView" asp-route-pageSize="50" asp-route-currentFilter="@ViewBag.CurrentFilter" method="get">50</a>
    <a asp-controller="Home" asp-action="SearchView" asp-route-pageSize="100" asp-route-currentFilter="@ViewBag.CurrentFilter" method="get">100</a>
</div>
    